<!doctype html>
<html>
  <head>
    <title>Login - <%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <link rel="stylesheet"  type="text/css" href="/authentication.css" />

  </head>
  <body>
    <h1><a href="/"><%=appName%></a></h1>
    <h2>Login</h2>
    <% if (errorMessage) { %>
      <p style="width: fit-content; text-align: center; font-size:20px; background-color: red;"><%= errorMessage %></p>
    <% } else if(register.registered){%>
      <p style="width: fit-content; text-align: center; font-size:20px; color: black;">You have successfully registered!</p>
    <%}%>

    <div class="form-container">
      <form method="POST" action="/attempt_login">
        <% if (register.registered) { %>
          <p><span><img src="/images/mail_icon.png">Email/user:</span><input id="email-input" type="text" name="email" value="<%=register.email%>" title="Enter a valid email address or username" required/></p>
          <p><span><img src="/images/lock_icon.png">Password:</span><input id="password-input" type="password" name="password" value="<%=register.password%>" required/></p>
        <% } else{%>
          <p><span><img src="/images/mail_icon.png">Email/user:</span><input id="email-input" type="text" name="email" title="Enter a valid email address or username" required/></p>
          <p><span><img src="/images/lock_icon.png">Password:</span><input id="password-input" type="password" name="password" required/></p>
        <%}%>
        <input id="button" type="submit" value="login" />
      </form>
      <a href="/register">Don't have an account yet? Register here.</a>
    </div>
  </body>
</html>