<!doctype html>
<!-- Lists specific user's details and posts -->
<html>
  <head>
    <title> <%= user[0].username %> - <%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <link rel="stylesheet"  type="text/css" href="/profile.css" />
  </head>
  <body>
    <header>
      <h1><a href="/"><%=appName%></a></h1>

      <form id="searchForm" method="GET" action="/search">
        <input type="text" id="searchInput" name="query" placeholder="Explore topics, posts and users...">
        <input type="text" name="resulttype" id="searchType" value="posts" hidden>
        <button type="submit" id="searchButton"><img src="/images/search_icon.webp"></button>
      </form>

      <div class="dropdown">
        <button class="dropbtn">▼&nbsp; <%=sessionData.username%></button>
        <div class="dropdown-content">
          <a class="img-link" href="/profile"><img src="/images/profile_icon.webp">View Profile</a>
          <a class="img-link" href="/logout"><img src="/images/logout_icon.png">Log Out</a>
        </div>
      </div>
    </header>

    <section>
      <div id="spacer"></div>
      <div id="main">
        <div class="subheading"><%= user[0].username %>'s profile</div>
        <div class="profile-banner">
            <div class="name">
                <img class="userimage" src="/images/profile_icon.webp">
                <span><%= user[0].first_name %> <%= user[0].last_name %></span>
            </div>
            <div class="follows">
                Follows:<br>
                <%let followsAnything = false; for(u of user){ if(u.topic_name != null){ followsAnything = true; %>
                    <a href="/topics/<%= u.topic_name %>"> &lt;<%= u.topic_name %>&gt; </a>
                <% }}if(!followsAnything){ %>
                    <a href="#"> <%= user[0].username %> does not follow any topics right now </a>
                <% } %>
            </div>
            <div class="timestamp">
                Member since: <%= user[0].timestamp.toString().split(" ")[1]+" "+user[0].timestamp.toString().split(" ")[2]+" "+user[0].timestamp.toString().split(" ")[3] %>
            </div>
        </div>

        <% if(results.length == 0) {%>
            <div class="subheading"><%= user[0].username %> has not posted anything yet...</div>
        <% }else{ %>
            <div class="subheading"><%= user[0].username %>'s posts</div>
        <% } %>

        <% for (let i = results.length - 1; i >= 0; i--) { %>
          <div class="post">
            <div class="post-metadata">
              <span class="metadata-username">
                <a class="img-link" href="/users/<%= results[i].username %>">
                  <img src="/images/profile_icon.webp">
                  <%= results[i].username %>
                </a>
              </span>
              <a class="metadata-topic" href="/topics/<%= results[i].topic_name %>">
                &lt;<%= results[i].topic_name %>&gt;
              </a>
              <span class="metadata-date">
                <%= calculateDaysAgo(results[i].timestamp) %> • <%= new Date(results[i].timestamp).toLocaleString('en-GB', {dateStyle: 'short'}) %>  at <%= new Date(results[i].timestamp).toLocaleString('en-GB', { timeStyle: 'short' }) %>
              </span>
            </div>
            <form method="get" action="/posts/<%= results[i].id %>" class="post-data">
                <button type="submit">
                  <%- results[i].context %>
                </button>
            </form>
          </div>
        <% } %>
      </div>

      <div id="sidebar">
        <a class="page-link" href="/"><img src="/images/home_icon.png" alt="">Home</a>
        <a class="page-link" href="/topics"><img src="/images/topics_icon.png" alt="">View Topics</a>
        <a class="page-link" href="/users"><img src="/images/users_icon.png" alt="">View Users</a>
        <a class="page-link" href="/about"><img src="/images/about_icon.png" alt="">About</a>

        <% if (topicNamesList && topicNamesList.length > 0) { %>
          <div class="followed-topics">
            <h2>Followed:</h2>
            <% for (let i = 0; i < topicNamesList.length; i++) { %>
              <a class="followed-topic" href="/topics/<%= topicNamesList[i] %>">&lt;<%= topicNamesList[i]%>&gt;</a>
            <% } %>
          </div>
        <% } %>
      </div>
    </section>
  </body>

  <script src="/client.js"></script>
  <%
    function calculateDaysAgo(timestamp) {
      const postDate = new Date(timestamp);
      const currentDate = new Date();
      const timeDifference = currentDate - postDate;
      const secondsAgo = Math.floor(timeDifference / 1000);
      const minutesAgo = Math.floor(secondsAgo / 60);
      const hoursAgo = Math.floor(minutesAgo / 60);
      const daysAgo = Math.floor(hoursAgo / 24);

      if (daysAgo > 1) {
        return `Posted ${daysAgo} days ago`;
      } else if (daysAgo === 1) {
        return 'Posted yesterday';
      } else if (hoursAgo >= 1) {
        return `Posted ${hoursAgo} ${hoursAgo === 1 ? 'hour' : 'hours'} ago`;
      } else if (minutesAgo >= 1) {
        return `Posted ${minutesAgo} ${minutesAgo === 1 ? 'minute' : 'minutes'} ago`;
      } else {
        return `Posted less than a minute ago`;
      }
    }
  %>
</html>
